<h1>Here Are All The Tooters</h1>

<% @users.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.each do |user| %>
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
          <%= image_tag user.avatar.url%>
          <div class="caption">
            <%= link_to "@#{user.username}", user_url(user) %>
            <p>
              <%= user.name %> <br>
              <%= user.city %>, <%= user.state %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
